.register-container {
  background-color: #f8f9fa;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 20px auto;
}

#submitBtn {
  margin-top: 20px;
  font-size: 1.2rem;
  font-weight: bold;
  width: 100%; 
  background-color: #007bff;
  color: #fff;
  padding: 12px; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#submitBtn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

#submitBtn:hover {
  background-color: #0056b3; 
}
